<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link href="~/css/AboutUs.css" rel="stylesheet" />

<div class="aboutus-section">

    <div class="container">

        <div class="row">

            <div class="col-md-4 col-sm-4 col-xs-12">

                <div class="aboutus-banner">

                    <img src="~/images/Cloud.jpg" width="380" height="300" alt="">

                </div>

            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">

                <div class="aboutus">

                    <h2 class="aboutus-title">About Us</h2>

                    <p class="aboutus-text"> A group of young people collaborated for the first time in creating a page.</p>

                    <p class="aboutus-text">

                        The team consists of <a href="https://www.linkedin.com/in/konstantinos-rotas/">Konstantinos Rotas</a>, <a href="https://www.linkedin.com/in/lazaridis-lazaros/">Lazaros Lazaridis</a>,

                        <a href="https://www.linkedin.com/in/triasamo/">Triantafyllos Samoladas</a>,<a href="www.linkedin.com/in/panagiotis-zouloumis">Panagiotis Zouloumis</a>

                    </p>

                </div>

            </div>

            <div class="col-md-4 col-sm-4 col-sm-12">

                <div class="feature">

                    <div class="feature-box">

                        <div class="clearfix">

                            <div class="iconset">

                                <span class="glyphicon glyphicon-cog icon"></span>

                            </div>

                            <div class="feature-content">

                                <h3>First Work</h3>

                                <p>The first steps in the field of technology</p>

                            </div>

                        </div>

                    </div>

                    <div class="feature-box">

                        <div class="clearfix">

                            <div class="iconset">

                                <span class="glyphicon glyphicon-cog icon"></span>

                            </div>

                            <div class="feature-content">

                                <h3>Team Spirit</h3>

                                <p> Daily communication and collaboration </p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div> 