@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="text-left">
        <h2 class="display-3"><a asp-area="" asp-controller="Home" asp-action="Creator">Creator Login</a></h2>
        <p>Learn more about..</p>
    </div>
</div>

    <div class="text-right">
        <h2 class="display-3"><a asp-area="" asp-controller="Home" asp-action="Backer">Contributor Login</a></h2>
        <p>Learn about...</p>
    </div>
