@{
    ViewData["Title"] = "Home";
}


<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
    <link rel="stylesheet" href="~/css/index.css" />
</head>


<div class="container" style="background-image:url(./images/index-bg2.png)">
    <h1>Collaborative projects rise through collaborative actions!</h1>
    <div class="board">

        <section>
            <div class="tile cover">
                <i class="entypo-spotify"></i>
                <h5>Spotify</h5>
            </div>
            <div class="tile desc">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ab ipsa commodi quas voluptatibus?</span>
                <a href="">View Project</a>
            </div>
        </section>

        <section>
            <div class="tile cover">
                <i class="entypo-dropbox"></i>
                <h5>Dropbox</h5>
            </div>
            <div class="tile desc">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ab ipsa commodi quas voluptatibus.</span>
                <a href="">View Project</a>
            </div>
        </section>

        <section>
            <div class="tile cover">
                <i class="entypo-evernote"></i>
                <h5>Evernote</h5>
            </div>
            <div class="tile desc">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ab ipsa commodi quas voluptatibus.</span>
                <a href="">View Project</a>
            </div>
        </section>

        <section>
            <div class="tile cover">
                <i class="entypo-github"></i>
                <h5>Github</h5>
            </div>
            <div class="tile desc">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ab ipsa commodi quas voluptatibus?</span>
                <a href="">View Project</a>
            </div>
        </section>

        <section>
            <div class="tile cover">
                <i class="entypo-smashing"></i>
                <h5>Smashing</h5>
            </div>
            <div class="tile desc">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ab ipsa commodi quas voluptatibu?</span>
                <a href="">View Project</a>
            </div>
        </section>


        <section>
            <div class="tile cover">
                <i class="entypo-twitter"></i>
                <h5>Twitter</h5>
            </div>
            <div class="tile desc">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ab ipsa commodi quas voluptatibus!</span>
                <a href="">View Project</a>
            </div>

        </section>
    </div>

    <div id="buttons" class="row">
        <a id="b1" type="button" class="button btn btn-light btn-lg" style="margin-right:5px;max-height:50px;">Backer</a>
        <a id="b2" type="button" class="button btn btn-light btn-lg" style="margin-left:5px;max-height:50px;">Creator</a>
        <a id="bDashBacker" type="button" class="button btn btn-light btn-lg" style="display:none; max-height:50px;">DashBoard</a>
        <a id="bDashCreator" type="button" class="button btn btn-light btn-lg" style="display:none; max-height:50px;">DashBoard</a>

    </div>
    <footer style="background-color: #F8EEDF;"></footer>
</div>


