
html

body {
    margin: 0px;
    padding: 0px;
    background-color: #e7dfc6;
    display: flex;
    height: 100%;
    flex-direction: column;
}


/*This Section below should be splitted in another file .css and it's responsible for GRID operations*/
/*-----GRID-----*/
.container {
    display: grid;
    min-height: 100vh;
    min-width: 100%;
    grid-template-columns: 5fr;
    grid-template-rows: 5fr;
    grid-template-areas: "main";
    grid-gap: 0.2rem;
}

.card-content {
    height: 120px;
    background: linear-gradient(#ffffff5b, #faffd16b);
}

.card-body {
    text-align: center;
}

.card.border.border-dark.border-left-primary.shadow.py-2 {
    border-radius: 50px;
}

.card.overflow-hidden.border.border-dark.shadow {
    border-radius: 25px;
}

a#proj-titles {
    border-radius: 40px;
}

.card-body.cleartfix {
    font-family: sans-serif;
    padding-top: 35px;
}

.media.media-body.d-flex {
    padding-right: 10px;
}

#bundle-card {
    padding: 5px;
    height: 120px;
}
#search-row{
    padding-left:275px;
}
.card {
    margin: 10px;
    max-height: auto;
    background-color: #ffffff;
    border-radius: 50px;
}

.progress {
    margin-bottom: 10px;
}

main {
    flex: 1 0 auto;
    grid-area: main;
    min-height: 100%;
}

#proj-titles {
    color: #43444d;
    background-color: #43444E;
    border-radius: 10px;
}

.col-xl-3 {
    flex: 0 0 30%;
    max-width: 30%;
}
/*-----GRID END-----*/
.col {
    padding-top: 10px;
}

#bundle-tag {
    padding-top: 45px;
}

#bundle-prize {
    padding-top: 15px;
}

a {
    color: #e7dfc6;
}

h1 {
    position: center;
    text-align: center;
}

h4 {
    padding-top: 10px;
}

h3 {
    margin-bottom: 0px;
}

#delete-profile-backer {
    margin-top: 10px;
}
