
html

body {
    margin: 0px;
    padding: 0px;
    background-color: #e7dfc6;
    display: flex;
    height: 100%;
    flex-direction: column;
}


/*This Section below should be splitted in another file .css and it's responsible for GRID operations*/
/*-----GRID-----*/
.container {
    display: grid;
    min-height: 100vh;
    min-width: 100%;
    grid-template-columns: 0.8fr 5fr;
    grid-template-rows: 5fr;
    grid-template-areas: "sidebar main";
    grid-gap: 0.2rem;
}

.card {
    margin: 10px;
    max-height: auto;
    background-color: #e9f1f7;
}

.progress {
    margin-top: 10px;
    margin-bottom: 10px;
}

main {
    flex: 1 0 auto;
    grid-area: main;
    min-height: 100%;
}

#sidebar {
    border-radius: 10px;
    background-color: #2c4a58;
    color: #E7DFC6;
    text-align: center;
    grid-area: sidebar;
}
/*-----GRID END-----*/

a {
    color: #e7dfc6;
}

h1 {
    position: center;
    text-align: center;
}

h4 {
    padding-top: 20px;
}

#delete-profile-creator {
    margin-top: 10px;
}