/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: white;
}

/* Provide sufficient contrast against white background */
a {
    color: #e7dfc6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 3px solid black;
}
.border-bottom {
  border-bottom: 3px solid black;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    background-color: #e7dfc6;
}

body {
    /* Margin bottom by footer height */
    background-color: #e7dfc6;
    margin-bottom: 30px;
    min-height: 100%;
    position: relative;
    padding-bottom: 50px;
    height: 100%;
}

.container {
    min-height: 100%;
    background-color: #e7dfc6;
}

.footer {
    background-color: #e7dfc6;
    position: relative;
    height: 40px;
    width: 100%;
    line-height: 30px; /* Vertically center the text there */
}

.footer .footer-cont {
    position: absolute;
    bottom: 0;
    padding-top:0;
    text-align:center;

}




