/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body {
    margin: 0px;
    padding: 0px;
    background-color: #F8EEDF;
    display: flex;
    height: 100%;
    flex-direction: column;
}

/*-----NAVIGATION BAR-----*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #e7dfc6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-item a:hover {
    cursor: pointer
}

a:hover {
    cursor: pointer
}

nav {
    height: 50px;
}
/*-----NAVIGATION BAR END-----*/

footer {
    height: auto;
    margin: 0.2rem;
    margin-right: 15px;
    margin-left: 15px;
    grid-area: footer;
    bottom: 0;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
}

footer#footer {
    background-color: #F8EEDF;
    margin-top: 0;
}
