@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="navbar" id="sidebar">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-ligh" asp-area="" asp-controller="Home" asp-action="Index"><h4>Home</h4></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="BackerMenu" asp-action="BDashboard"><h4>Dashboard</h4></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-light" asp-area="" asp-controller="BackerMenu" asp-action="Browseprojects"><h4>Browse New Projects</h4></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-light" asp-area="" asp-controller="BackerMenu" asp-action="SupportedProjects"><h4>Backed Projects</h4></a>
        </li>

    </ul>
</div>